.homeSlider {
  .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    background-color: white;
    opacity: 1;
    margin: 0 4px;
    transition: background-color 0.3s ease;
  }
  .swiper-pagination-bullet-active {
    background-color: var(--color-secondary);
  }
}
