@import "tailwindcss";

@theme {
  --color-base-white: #fafafa;
  --color-base-black: #0a0a0b;
  --color-primary: #07124a;
  --color-primary-light: #bcbedd;
  --color-secondary: #0e7ac0;
  --color-neutrals-500: #898384;
  --color-neutrals-800: #433e3f;
  --color-success-100: #a4f4e7;
  --color-success-200: #15b097;
  --color-warning-100: #f4c790;
  --color-warning-200: #eda145;
  --color-error-100: #e4626f;
  --color-error-200: #c03744;
}

* {
  filter: brightness(1) drop-shadow(0px 0px 0px #a9f30d) invert(1) contrast(1);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

/* fix hover in mobile */
@custom-variant hover (&:hover);

/* remove number input arrows */
@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.htmlContent {
  iframe {
    max-width: 100%;
    margin-inline: auto;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  ul {
    list-style: disc;

    li {
      margin-inline-start: 1.25rem;
    }
  }

  ol {
    list-style: decimal;

    li {
      margin-inline-start: 1rem;
    }
  }
}

@layer {
  body {
    @apply bg-white text-neutrals-800 font-['cairo'];
  }

  .pageContainer {
    @apply container py-6 lg:py-10 min-h-[calc(100vh-156px)] lg:min-h-[calc(100vh-228px)];
  }

  .whiteContainer {
    @apply p-4 lg:p-6 rounded-2xl shadow-xl border border-neutral-200 bg-white;
  }

  .baseWhiteContainer {
    @apply p-4 lg:p-6 rounded-2xl shadow-xl border border-neutral-200 bg-base-white;
  }

  .mainBtn {
    @apply w-full bg-primary text-white text-lg font-semibold p-2 lg:p-3 rounded-lg border-2 border-primary
      flex items-center justify-center gap-2 cursor-pointer duration-300;

    &:hover {
      @apply bg-secondary border-secondary;
    }

    &:disabled {
      @apply bg-neutral-500 cursor-not-allowed;
    }

    &.light {
      @apply bg-white text-primary;

      &:hover {
        @apply bg-primary border-primary text-white;
      }
    }

    &.danger {
      @apply bg-white text-error-200 border border-error-200;

      &:hover {
        @apply bg-error-200 border-error-200 text-white;
      }
    }
  }

  .navLink {
    @apply text-lg text-gray-300 duration-300 not-last:pb-2 not-last:border-b not-last:border-neutral-300/40 lg:not-last:pb-0 lg:not-last:border-0;

    &.active,
    &:hover {
      @apply text-white font-bold;
    }
  }

  .profileLink {
    @apply text-sm lg:text-lg flex-1 font-bold text-center xl:text-start py-2 lg:py-4 px-4 border border-neutral-300 xl:border-0
    rounded-br-xl rounded-bl-xl xl:rounded-br-none xl:rounded-tl-xl duration-200;

    &.active,
    &:hover {
      @apply bg-secondary/40;
    }
  }

  .homeLink {
    @apply lg:text-lg p-2 text-neutral-500 border border-neutral-300 rounded-t-xl flex-1 text-center 
    cursor-pointer duration-200 flex items-center justify-center gap-2;

    &.active-sale {
      @apply bg-success-200 border-success-200 text-white;
    }

    &.active-purchase {
      @apply bg-secondary border-secondary text-white;
    }
  }
}
